.white {
  background-color: white;
}

.black {
  background-color: black;
  color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.row {
  display: flex;
}

span {
  width: 60px;
  height: 60px;
}

.board {
  border: 5px solid black;
  width: min-content;
}

button {
  margin-top: 5px;
  border-radius: 12px;
  height: 50px;
  width: 150px;
}
